
.question-div {
  padding:20px;
}

.question-div > div {
  font-size:32px;
  height: 400px;
  background-color: #F0F7FD;
  border-color: #D0E3F0;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #D0E3F0;
}

.answers-div {
  padding:20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.answers-div > div {
  background-color:#dd66ee;
  padding: 15px 30px 15px 15px;
  margin-bottom:20px
}

.answers-div > div > div {
  font-size:24px;
}

.answers-div:hover {
  background-color: #D0E3F0;
}

.category-grid-container {
  background-color:	#FFD700;
  text-align:center;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
  border-radius: .3rem;
  width: 100%;
}

.category-grid {
  background-color:#060CE9;

  table > tr {
    outline: 1px solid #0b2e13;

    th, td {
      height: 8rem;
      vertical-align: middle;
    }

    th {
      font-size:2.5rem;
      font-weight:bold;
      color:#fbfcfc;
    }

    td {
      color:#ffff00;
      font-size:4rem;
      font-weight:bolder;
      border-right:.5rem solid #1d2124;
      border-bottom:.5rem solid #1d2124;
    }
  }
}