
.question-div {
  padding:20px;
}

.question-div > div {
  font-size:32px;
  height: 400px;
  background-color: #F0F7FD;
  border-color: #D0E3F0;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #D0E3F0;
}

.answers-div {
  padding:20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.answers-div > div {
  background-color:#dd66ee;
  padding: 15px 30px 15px 15px;
  margin-bottom:20px
}

.answers-div > div > div {
  font-size:24px;
}

.answers-div:hover {
  background-color: #D0E3F0;
}