
.question-div {
  padding:20px;
}

.question-div > div {
  font-size:32px;
  height: 400px;
  background-color: #F0F7FD;
  border-color: #D0E3F0;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #D0E3F0;
}

.answers-div {
  padding:20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.answers-div > div {
  background-color:#dd66ee;
  padding: 15px 30px 15px 15px;
  margin-bottom:20px
}

.answers-div > div > div {
  font-size:24px;
}

.answers-div:hover {
  background-color: #D0E3F0;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}