.fixed-sidebar {
  position:fixed;
  top:0;
  height:100%;
  width:10rem;
  //transition: transform .5s cubic-bezier(.50, 0, .50, 1);
  //transform: translate3d(-8rem, 0,0);

  //&:hover {
    color:yellow;
    //transform: translate3d(0rem, 0, 0);
  //}

  .fixed-sidebar-content-container {
    vertical-align:top;
    background-color:red;
    width:80%;
    height:inherit;
    display: inline-block;
    text-align:center;

    div {
      margin: 0 .5rem;
      padding: .5rem;
      border-bottom: 0.0625rem solid #000000;
      cursor:pointer;

      &:last-child {
        border-bottom:0;
      }
    }
  }

  .fixed-sidebar-toggle-container {
    vertical-align:top;
    width:20%;
    height: inherit;
    display: inline-block;

    div {
      background-color:lightcoral;
      bottom:1rem;
      position:fixed;
      height:4rem;
      width: 2rem;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
      border-top-right-radius: .25rem;

      &:before {
        top:-.75rem;
        content: "";
        position:absolute;
        border-top:.75rem solid transparent;
        border-left:1.875rem solid lightcoral;
      }

      p {
        transform: rotate(-270deg);
        font-size:.75rem;
        transform-origin: .5rem 1rem;
        position: absolute;
        color: black;
      }
    }
  }
}