
.question-div {
  padding:1.25rem;
  background-color:transparent;
  div {
    box-shadow: 2rem 4rem 4rem 2rem rgba(0, 0, 0, .7);
    border-radius:5%;
    display:table;
    font-size:2rem;
    height: 20rem;
    width:100%;
    margin: 0 auto 1.25rem auto;

    div {
      display:table-cell;
      vertical-align:middle;
      background-color:transparent;
      font-size:3rem;
      font-weight:bold;
      color:#fbfcfc;
      text-shadow: .5rem .5rem rgba(30,2,120,1);
    }
  }
}

.answers-div {
  cursor: pointer;
}

.answers-div > div {
  padding:1rem;
  display:inline-block;

  div {
    font-size:1.75rem;
    display:table;
    text-align:center;
    height: 7rem;
    width: 100%;
    font-weight:bold;
    box-shadow: 1rem 1rem 2rem 0rem rgba(0, 0, 0, .7);

    &.non-answer {
      color:#ffffff;
      background:linear-gradient(315deg, rgba(30,2,120,1) 0%, rgba(74,157,241,1) 50%, rgba(30,2,120,1) 100%);
      text-shadow: .25rem .25rem rgba(30,2,120,1);
    }

    &.correct-answer {
      color:#ff0088;
      background:linear-gradient(315deg, rgba(248,251,186,1) 0%, rgba(34,226,112,1) 100%);
      text-shadow: .25rem .25rem rgba(80,200,130,1);
    }

    &.wrong-answer {
      color:#ffffff;
      background:radial-gradient(circle, rgba(245,0,64,1) 0%, rgba(213,34,226,1) 100%);
      text-shadow: .25rem .25rem rgba(30,2,120,1);
    }

    &.actual-answer {
      color:#9900ee;
      background: radial-gradient(circle, rgba(229,245,0,1) 0%, rgba(251,247,221,1) 100%);
      text-shadow: .25rem .25rem rgba(80,200,130,1);
    }


    div {
      display:table-cell;
      vertical-align:middle;
      padding:.75rem;
    }
  }

}

.answers-div:hover {
  //background-color: #D0E3F0;
}

.next-question-button-container {
  padding:1rem 2rem 2rem 2rem;

  div {
    text-align:center;
    height:3rem;

    button {
      height:3rem;
      width:50%;
      font-weight:bold;
      box-shadow: 1rem 1rem 2rem 0rem rgba(0, 0, 0, .7);
      background: linear-gradient(315deg, rgba(30,70,120,1) 0%, rgba(74,90,241,1) 50%, rgba(30,70,120,1) 100%);
      border:0;
    }
  }
}

// background: linear-gradient(180deg, rgba(107,64,246,1) 0%, rgba(66,2,83,1) 100%);