
.question-div {
  padding:20px;

  div {
    background: linear-gradient(315deg, rgba(30,2,120,1) 0%, rgba(74,157,241,1) 50%, rgba(30,2,120,1) 100%);
    box-shadow: 2rem 4rem 4rem 2rem rgba(0, 0, 0, .7);
    border-radius:5%;
    display:table;
    font-size:32px;
    height: 400px;
    width:100%;
    border-color: #D0E3F0;
    margin: 0 auto 20px auto;

    div {
      display:table-cell;
      vertical-align:middle;
      background-color:transparent;
      font-size:3rem;
      font-weight:bold;
      color:#fbfcfc;
    }
  }
}

.question-div > div {
}

.answers-div {
  padding:20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.answers-div > div {
  background-color:#dd66ee;
  padding: 15px 30px 15px 15px;
  margin-bottom:20px
}

.answers-div > div > div {
  font-size:24px;
}

.answers-div:hover {
  background-color: #D0E3F0;
}