.settings-container {
  text-align: center;
  padding-top:2rem;

  .settings-heading, .settings-content-container {
    width: 100%;
  }


  .settings-content-container, .settings-button-container {
    padding:1.5rem;
    width:25rem;
  }

  .settings-content-container {
    border:0.0625rem solid black;
    margin-top:2rem;
    border-radius:1rem;
    display: inline-block;
    text-align: center;

    .settings-read-write-questions-header {
      margin-bottom:1rem;
    }


    .settings-read-write-questions {
      display: table;
      width: 100%;

      .settings-read-write-questions-content {
        display:table-cell;
        vertical-align: middle;

        label {
          margin-right:1rem;
        }

        .settings-toggle-align {
          vertical-align:middle;
        }
      }
    }
  }

  .settings-button-container {
    margin: 0 auto;

    button {
      float:right;
    }
  }
}