.city-view-container {
  width:100%;
  padding:1rem;
  background:rgba(255,255,255,0.75);

  .city-view-header-container {
    text-align:left;
    h3 {
      padding-right:1rem;
    }
    h2, h3 {
      display:inline-block;
    }
    h2, h3, h5 {
      margin-bottom: .25rem;
    }
  }
  .weather-details-table {
    width:100%;

    td, th {
      text-align:left;
      &:first-child {
        width:30%;
      }
    }
  }

  .get-log-details {
    padding: 2rem 0;
  }

  .btn-primary {
    float:right;
  }

  .weather-details-denotation {
    padding-top:1rem;
    text-align:left;
  }
}
