.header-row {
  padding: 2rem 2rem 0 2rem;
  background-color: inherit;

  .h1 {
    font-size:3rem;
    font-weight:bold;
  }

  .list-inline-item {
    padding-right: 2rem;
    font-size:1.25rem;
    &:hover {
      cursor: pointer;
    }
  }
}
