.weather-log-details-container {
  width:100%;

  thead > tr {
    th {
      padding:.5rem 0 .5rem 0;
    }

  }
  tbody > tr {
    &:nth-child(odd) {
      background-color:rgba(52, 217, 217,0.5);
    }
    &:nth-child(even) {
      background-color:rgba(0, 217, 100 ,0.5);
    }

    cursor:pointer;

    td {
      padding: 1rem 0 1rem 0;
    }

    img {
      height:50%;
    }
  }
}
