.weather-log-details-container {
  width:100%;

  thead > tr {
    th {
      padding:.5rem 0 .5rem 0;
    }

  }
  tbody > tr {

    font-size:1.5rem;
    border:.0125rem solid #000000;

    &:nth-child(odd) {
      background-color:rgba(52, 217, 217,0.5);
    }
    &:nth-child(even) {
      background-color:rgba(0, 217, 100 ,0.5);
    }

    cursor:pointer;

    td {
      padding: 1rem 0 1rem 0;

      &:nth-child(1) {
        width:20%;
      }

      &:nth-child(2) {
        width:70%;
        img {
          padding-left:2rem;
        }
      }

      &:nth-child(3) {
        width:10%;
        img {
          height:60%;
        }
      }
    }

  }
}
